/*
---------------------
  reset de css 
---------------------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', Trebuchet MS, sans-serif;
}


.titulo{
    color: white;
    /* border: 1px solid red; */
    background-color: #027e01;
    height: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.logo{
    text-align: center;
    padding: 33px 0;  
}

.menu{
    height: 55px ;
    background-color: #027e01;
    box-shadow: inset 0px 0px 25px 0px rgb(30 45 24);
    
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    gap: 20px;
    
}

.menu ul li{
    list-style: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    border-radius: 10px;
}

.menu ul li:hover{
 background-color: rgb(217, 235, 151);
 color: #027e01;
 cursor: pointer;
}


.content img{
   
}

.footer{
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 9px;
    height: 40px ;
    background-color: #027e01;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.botoes{
    padding-top:3%;
    justify-content: center;
    gap: 50px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 40px;

}

.botao1{
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 0, 0.836);
    padding: 30px;
    
    border-radius: 5px;
    
}

.botao2{
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 0, 0.836);
    padding: 20px;
    border-radius: 5px;
}



.energia{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 2%;

}


