body {
    display: flex;
    height: 95vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
}

.lado-esquerdo {
    color: tomato;
    width: 20vw;
    background-color: gray;

}

#titulo{
    font-size: 20PX;
}

.lado-direito {
    width: 80vw;
    background-color: blue;
}